<h1>FLopbuters</h1>

<div class="jumbotron" style="display:flex;">
  <p class='p-2'>
    We have all the best flops in the business!
    <br/>
    Chose a movie to rent
  </p>
  <app-rental-list (clearRentalListEvent)='clearRentalList()' [rentalList]="rentalList"></app-rental-list>
</div>

<div style="display:flex;justify-content: space-between;">
  <app-movie-tile (rentalEvent) = 'addRental($event)' (removeRentalEvent)='removeRental($event)' [movie]="wingCommandor"></app-movie-tile>
  <app-movie-tile (rentalEvent) = 'addRental($event)' (removeRentalEvent)='removeRental($event)' [movie]="theRoom"></app-movie-tile>
</div>